body {
  font-family: "Public Sans";
}
p {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #33323d;
  mix-blend-mode: normal;
  opacity: 0.8;
}
h2 {
  font-family: Ibarra Real Nova;
  font-size: 40px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: -0.3571428656578064px;
  text-align: left;
  margin: 20px 0;
}
#contact_form > * {
  display: block;
}
#contact_form > input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  height: 38px;
  margin: 16px 0;
  padding: 20px;
  border: unset;
  outline: unset;
  background-color: #eaeaeb;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  color: #33323d;
  mix-blend-mode: normal;
  opacity: 0.4;
}
textarea {
  height: 100px;
}
#socials {
  padding-top: 20px;
}
/* mobile */

/* desktop */
@media screen and (min-device-width: 1024px) {
  .container {
    width: 100%;
    height: auto;
    padding-top: 40px;
  }
  .row {
    width: 100%;
    height: 480px;
    display: flex;
  }

  .col {
    width: 50%;
  }
  #send-btn {
    width: 200px;
    height: 48px;
    background-color: #203a4c;
    color: #fff;
    outline: unset;
    border: unset;
    cursor: pointer;
  }
  #name-error,
  #mail-error,
  #msg-error {
    font-size: 12px;
    color: red;
  }
}

/* tablet */
@media screen and (min-device-width: 480px) {
  .container {
    width: 100%;
  }
  .row {
    width: 100%;
    height: 380px;
    padding-top: 40px;
  }
  .row:nth-child(2) {
    margin-top: 10px;
    border-top: 1px solid #ccc;
  }
}
