main {
  height: auto;
}
.empty-col-separator {
  width: 68%;
}
.hero-section {
  width: 80%;
  height: 600px;
  margin: 0 auto;
}
.headline {
  width: 445px;
  height: 357px;
  position: absolute;
  background-color: var(--VeryLightGreyBG);
  top: 55%;
  left: 10.7%;
}

.about-me-section {
  margin-top: 80px;
  margin-left: -4px;
  width: 98%;
  height: auto;
  display: flex;
}
.about-me-section > div {
  width: 40%;
  height: auto;
}
.about-me-section > div:nth-child(1) {
  width: 50%;
}
.about-me-section > div:nth-child(2) {
  width: 10%;
}

.about-me-section > div:nth-child(3) {
  width: 30%;
  padding: 10px;
  text-align: start;
}
#about-me-title {
  text-align: left;
  margin-left: -50px;
  margin-bottom: -20px;
}
.about-me-section-container > img {
  width: 100%;
  height: 100%;
}

/* components */
.primary-btn,
.secondary-btn {
  width: 200px;
  height: 48px;
  background-color: var(--GrayishDarkBlue);
  color: var(--white);
  border: unset;
  font-family: Public Sans;
  font-size: 12px;
  display: flex;
  align-items: center;
}
.btn-img {
  width: auto;
  height: 50%;
}
.btn-box {
  width: 30%;
  height: 100%;
  background-color: var(--DarkBlue);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-text {
  width: 60%;
  text-align: center;
}
.btn-container {
  margin-left: 50px;
  margin-top: -20px;
}
.secondary-btn {
  background-color: unset;
  border: 1px solid var(--DarkBlue);
  color: var(--DarkBlue);
  padding-left: 16%;
}
