.empty-col-separator {
  width: 68%;
}
.hero-section {
  width: 80%;
  height: 600px;
  margin: 0 auto;
}
.headline {
  width: 445px;
  height: 357px;
  position: absolute;
  background-color: var(--white);
  top: 55%;
  left: 10%;
}

/* components */
