@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@400;500;600;700&family=Public+Sans:wght@100;200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2rem;
	margin-bottom: 4rem;
	display: flex;
	justify-content: space-between;
	height: 32px;
}

#primary-nav{
	/* this is a place holder for now */
	display: flex;
}

#nav-items-list{
	display: none;
}

#nav-icon{
	color: #33323D;
}

main{
	display: flex;
	flex-direction: column;
	row-gap: 2rem;
	width: 90%;
	margin: 2rem auto;
}

.image {
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}

.hero {
	height: 10rem;
}

main h1 {
	font-family: 'Ibarra Real Nova';
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 42px;
	letter-spacing: -0.357143px;
	color: #33323D;
}

p{
	font-family: 'Public Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 30px;
	color: #33323D;
	mix-blend-mode: normal;
	opacity: 0.8;
}

#project-summary{
	display: flex;
	flex-direction: column;
	row-gap: 2rem;
	margin-bottom: 2rem;
}

h2{
	font-family: 'Ibarra Real Nova';
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 42px;
	letter-spacing: -0.285714px;
	color: #33323D;
}

em{
	font-family: 'Public Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 13px;
	line-height: 30px;
	color: #5FB4A2;
}

#project-bg{
	display: flex;
	flex-direction: column;
	row-gap: 2rem;
}

#static-preview{
	display: flex;
	flex-direction: column;
	row-gap: 2rem;
}

.preview-1, .preview-2{
	height: 8rem;
}

footer{
	display: flex;
	flex-direction: column;
	row-gap: 2rem;
}

#footnote{
	display: flex;
	flex-direction: column;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	row-gap: 4rem;
	align-items: center;
}

strong{
	font-family: 'Ibarra Real Nova';
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 42px;
	text-align: center;
	letter-spacing: -0.357143px;
	color: #33323D;
}

hr {
    background: #33323D;
    mix-blend-mode: normal;
    opacity: 0.15;
    height: 2px;
    width: 100%;
}

#footnote hr {
	display: none;
}

button{
	font-family: 'Public Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #33323D;
	border: 1px solid #33323D;
	height: 3rem;
	width: 10rem;
	margin-top: auto;
	margin-bottom: auto;
}

#main-footer-container{
	background: #33323D;
    display: flex;
    align-content: center;
}

#main-footer{
	display: flex;
	flex-direction: column;
	row-gap: 2rem;
	align-items: center;
	justify-content: space-between;
	width: 90%;
	margin: 2rem auto;
}

#left{
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 2rem;
}

#secondary-nav ul{
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
	font-family: 'Public Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	text-align: center;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #FFFFFF;
	list-style: none;
}

#secondary-nav #nav-items-list a{
	text-decoration: none;
	color: #FFFFFF;
}

#socials{
	display: flex;
	column-gap: 1rem;
}

#socials div {
	width: 24px;
	height: 24px;
}

/* tablet*/
@media screen and (min-device-width: 480px) {
	#primary-nav{
		display: flex;
		align-items: center;
	}
	
	#nav-items-list{
		display: flex;
		justify-content: space-between;
		column-gap: 3rem;
		list-style: none;
		font-family: 'Public Sans';
		font-style: normal;
		font-weight: 400;
		font-size: 12px;
		line-height: 14px;
		letter-spacing: 2px;
		text-transform: uppercase;
	}

	#nav-items-list a{
		text-decoration: none;
		color: #33323D;
	}
	
	#nav-icon{
		display: none;
	}

	.hero {
		height: 40vw;
	}

	#project-summary div{
		display: flex;
		justify-content: space-between;
		column-gap: 40%;
	}

	em{
		margin-top: -20vw;
	}

	.preview-1, .preview-2{
		height: 23rem;
	}

	#footnote{
		margin: 4rem auto;
		flex-direction: row;
		justify-content: space-between;
	}

	#footnote hr{
		display: inline;
		width: 6rem;
		background: #33323D;
		mix-blend-mode: normal;
		opacity: 0.15;
		height: 2px;
	}

	#main-footer-container{
		height: 4rem;
	}

	#main-footer{
		flex-direction: row;
		margin-left: auto;
		margin-right: auto;
	}

	#left{
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	#secondary-logo{
		color: #FFFFFF;
		margin-right: 4rem;
	}

	#secondary-nav ul{
		flex-direction: row;
		column-gap: 3rem;
	}
}

/* desktop */
@media screen and (min-device-width: 1024px) {
	.main-body{
		display: flex;
		flex-wrap: wrap;
		column-gap: 10%;
	}
	
	#project-summary{
		width: 40%;
	}

	#project-summary div{
		flex-direction: column;
	}

	em{
		margin-top: 0;
	}

	#project-bg {
		width: 50%;
	}

	#static-preview{
		width: 50%;
		margin-left: 50%;
	}
}